


 #form1 {
  & .ng-touched.ng-valid,
  .ng-dirty.ng-valid{
    background: transparent; 
  }
  & .ng-touched.ng-invalid,
  .ng-dirty.ng-invalid {
    background: darksalmon ; 
  }
}

.multiselect>.btn-group>.btn:first-child{
 width : 200px !important;
}