<section class="adminpage">
  <div layout="row" layout-fill ng-cloak>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class=" md-hue-2" layout-align="end end">
        <div class="md-toolbar-tools" layout layout-padding>
          <md-icon class=" inherit-color md-cyan-theme md-font material-icons fa fa-user md-primary md-icon-button" md-font-icon="fa fa-user-o" aria-hidden="true"></md-icon>
          <div layout="column" layout-padding>
            <span class="md-body-2">{{data.user.name}}</span>
            
          </div>
          <span flex></span>
        </div>
      </md-toolbar>

      <md-list >
       <md-list-item >
        <a class="md-subheader md-primary" ui-sref="admin.dashboard">Dashboard</a>
        <span flex></span>            
      </md-list-item>
      <div ng-repeat="section in data.sidenav.sections">       
        <md-list-item ng-click="section.expand = !section.expand">
          <a class="md-subheader md-primary">{{section.name}}</a>
          <span flex></span>
          <!-- <md-icon class="md-primary md-icon-button">{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon> -->
          <md-icon class=" inherit-color md-cyan-theme md-font material-icons fa fa-chevron-up md-primary md-icon-button" md-font-icon="fa-chevron-up" aria-hidden="true" ng-if="section.expandable && section.expand"></md-icon> 
          <md-icon class=" inherit-color md-cyan-theme md-font material-icons fa fa-chevron-down md-primary md-icon-button" md-font-icon="fa-chevron-up" aria-hidden="true" ng-if="section.expandable && !section.expand"></md-icon> 
        </md-list-item>
        <md-list-item ng-show="section.expand" ui-sref="{{action.state}}" ng-click ="title = section.name" ng-repeat="action in section.actions">

          <a class="md-body-2 cursorpointer" >{{action.name}} </a>
          <span flex></span>

        </md-list-item>
      </div>
    </md-list>
  </md-content>
</md-sidenav>
<section layout="column" role="main" flex>
  <md-toolbar role="toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
        <md-icon>menu</md-icon>
      </md-button>
      <h4 class="md-title">Admin Panel</h4>
      &nbsp;&nbsp;
&nbsp; &nbsp; &nbsp;    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="home"><h4 class="md-title"><span class="cursorpointer">Wrapsy Home</span></h4></a>
      <span flex></span>
    </div>
  </md-toolbar>
  <section id="content" role="content" layout="column" layout-padding md-scroll-y>


    <div id="form-views" ui-view></div>        
  </section>
</section>
</div>
</section>
