<navbar></navbar>
<div class="forgotPassword" style="background-color: white;">
	<div class="container" >
		<div class="category-title-header hidden-xs">

			<div class="title-center">
				<div class="title"><h1>Forgot Your Password?</h1></div>
				<div class="separator-title"><div class="divider-line"></div></div>
			</div>
			<div class="clearer"></div>
		</div>
		<div class="text-center" ng-if="message"> 
		<div><h4>Mail has been sent to your account</h4></div>
			<div><h4>You will receive an email with a link to reset your password</h4></div>

		</div>
		<div class="row" ng-hide = "message">
			<h5 class="second-heading"><span >Retrive your Password here</span></h5>
		</div>
		<div class="row" ng-hide = "message">
			<h5 class="third-heading"><span >Please enter your email address below. You will receive a link to reset your password.</span></h5>
		</div>


		<div class="row" ng-hide = "message">
			<div class="col-md-12">
				<form name="loginForm" ng-submit="ResetPassword(loginForm)">

					<div class="form-group">
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" name="email" ng-model="user.email" class="form-control" required>
						</div>
						<div flex="" layout="row" layout-align="end end">
							<md-button type="submit" class="md-raised md-accent">submit</md-button>
						</div>

						<p class="help-block">{{ errors.other }}</p>
						<div ng-if="socialerror">
							<div class="row">
								<h2 class="third-heading"><span >Email is registered using Social Authentication. Would you like to use Social login?</span></h2>
							</div>
							<md-button class="md-fab facebook" aria-label="Facebook" ng-click="loginOauth('facebook')">
								<i class="fa fa-facebook"></i>
							</md-button>

							<md-button class="md-fab  twitter" aria-label="Twitter" ng-click="loginOauth('twitter')">
								<i class="fa fa-twitter"></i>
							</md-button>

							<md-button class="md-fab google" aria-label="Google" ng-click="loginOauth('google')">
								<i class="fa fa-google-plus"></i>
							</md-button>
						</div>
						<div ng-if="registerd">
							<div class="row">
								<h2 class="third-heading"><span >Email is not registered. Would you like to Register?</span></h2>
								<md-button ng-click="login($event, 'signup')" class="md-raised md-accent">Sign Up</md-button>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>

	</div>
	<footer></footer>