<navbar></navbar>
<div class="forgotPassword" style="background-color: white;">
    <section class="product-grid">
        <div class="container">
            <div class="row">
                <h5 class="heading "><span >Reset your Password</span></h5>
            </div>

            <div class="text-center" ng-if="message"> 

                <div><h4>Password Successfully Changed</h4></div>
                <div><md-button ng-click="login($event, 'login')" class="md-raised md-accent">Login</md-button></div>


            </div>
            <div class="row" ng-hide = "message">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <h5 class="third-heading"><span >Set New Password</span></h5>
                        </div>
                        <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
                                <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                                    Password must be at least 3 characters.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" match="user.newPassword" ng-minlength="3" required="" />
                                <p class="help-block" ng-show="form.confirmPassword.$error.match">
                                    Passwords must match.
                                </p>
                            </div>
                            <p class="help-block"> {{ vm.message }} </p>
                            <div flex="" layout="row" layout-align="center center">
                                <md-button type="submit" class="md-raised md-accent">Reset</md-button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br>
    <footer></footer>
