<div class="row">
  <div class="col-md-12">
    <form id="form1" name="form1" class="form-horizontal" ng-submit="save(form1)" novalidate>
      <div class="form-group">
        <label class="col-sm-2 control-label">Category Name <span class="asterisk">*</span>
        </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" ng-model = "category.name" required name="name">

          <div class="msg-block" ng-if="form1.name.$touched" ng-messages="form1.name.$error" style="color:maroon; ">
            <div ng-message="required">The Name field is required</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Parent Category <span class="asterisk">*</span>
        </label>
        <div class="col-sm-7">
          <select class="form-control" name="parent" ng-model="category.parent">
            <option ng-repeat="cat in categories" value="{{cat._id}}">{{cat.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Filters <span class="asterisk">*</span>
        </label>
        <div class="col-sm-7">
          <multiselect class="input-xlarge multiselect" ng-model="category.filters" options="p._id as p.name for p in filters"  select-limit="5"
          header="Select Filter" selected-header="options selected" multiple="true" required
          enable-filter="true" filter-placeholder="Filter stuff..">
        </multiselect>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Image <span class="asterisk">*</span>
      </label>
      <div class="col-sm-7">
       <div class="controls">
        <input type="file" ng-hide="imageUrl" ngf-select="upload($file, $invalidFiles)" ng-model="imageUrl" name="imageUrl" accept="image/*" ngf-max-size="1MB" ngf-resize="{width: 300, height: 175, quality: .8, type: 'image/jpeg', centerCrop: true, restoreExif: false}" ngf-model-invalid="errorFile" />
        <i ng-show="form.imageUrl.$error.required">*required</i>
        <i ng-show="form.imageUrl.$error.maxSize">File too large  {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
        <img ng-show="form.imageUrl.$valid" ngf-thumbnail="imageUrl" class="thumb">
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        <div ng-show="imageUrl" class="remove-btn">
          <button class="btn btn-danger btn-xs" ng-click="removeImage(imageUrl)"> <span class="glyphicon glyphicon-trash"></span> Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="text-center">
      <button class="btn btn-primary" ng-disabled="form1.$invalid" type="submit"> Save Category</button>
    </div>
  </div>
</form>
</div>
</div>