<div class="home-image">
    <div class="container">
        <div class="category-title-header">
            <div class="title-center">
                <div class="title"><h1>Add Home page Image</h1></div>
                <div class="separator-title"><div class="divider-line"></div></div>
            </div>
            <div class="clearer"></div>
        </div>

        <section class="product-grid" style="min-height: 200px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <form class="form" name="form" ng-submit="save(form)" novalidate>
                            <div class="form-group">
                                <label>Text</label>
                                <input type="text" name="name" class="form-control" ng-model="homeimage.text" required/>
                                <p class="help-block" ng-show="form.name.$error.required">
                                    Text is required
                                </p>
                            </div>
                            <div class="form-group" ng-if="!product.affiliate" ng-class="{ 'has-success': form.imageUrl.$valid && submitted,
                            'has-error': form.imageUrl.$invalid && submitted }">
                            <label class="form-label" for="imageUrl">Featured Image</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <!-- <input type="file" img-cropper-fileread image="cropper.sourceImage" />
                                <div>
                                <canvas width="1200" height="600" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="900" crop-height="500" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
                               </div>
                               <div>Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bunds.bottom}})</div>
                               <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div> -->
                                <input type="file" ng-hide="imageUrl" ngf-select="upload($file, $invalidFiles)" ng-model="imageUrl" name="imageUrl" accept="image/*" ngf-max-size="1MB" ngf-model-invalid="errorFile" ngf-min-width="900" ngf-min-height="400" ngf-resize="{width: 900, height: 400, quality: 0.9}" />
                                <i style="color:maroon;" ng-show="form.imageUrl.$error.required">*required</i>
                                <i style="color:maroon;" ng-show="form.imageUrl.$error.maxSize">File too large  {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                <i style="color:maroon;" ng-show="form.imageUrl.$error.minWidth">Please select a image which is atleast 900px wide</i>
                                <i style="color:maroon;" ng-show="form.imageUrl.$error.minWidth">Please select a image which is atleast 400px height</i>
                                <img ng-show="form.imageUrl.$valid" ngf-thumbnail="imageUrl" class="thumb">
                                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                <div ng-show="imageUrl" class="remove-btn">
                                    <button class="btn btn-danger btn-xs" ng-click="imageUrl = null"> <span class="glyphicon glyphicon-trash"></span> Remove</button>
                                </div>
                            </div>
                        </div>
                        <p class="help-block"> {{ message }} </p>
                        <button class="btn btn-lg btn-primary" type="submit">Save Image</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</div>




