<div class="navbar  navbar-custom" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="hidden-xs hidden-sm"><a ui-sref="home"><img ng-src="/assets/img/logo/logo.png" class="logo"/></a></span>
    <div class="visible-xs visible-sm hidden-md hidden-lg">
      <span ><a ui-sref="home"><img ng-src="/assets/img/logo/logo.png" alt="wrapsy" class="logo"></a></span>
    </div>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
     <li>
       <a class="cursorpointer" ng-click="adminPage('dashboard')">Dashboard </a>
     </li>

     <li>
      <a class="cursorpointer" ng-click="adminPage('pdtlist')">Products</a>
    </li>

    <li>
      <a class="cursorpointer" ng-click="adminPage('manage-categories')">Categories</a>      
    </li>
    <li>
      <a class="cursorpointer" ng-click="adminPage('orders')">Orders</a>
    </li>
    <!-- <li>
      <a class="cursorpointer" ng-click="adminPage('filter')">Filters</a>
    </li> -->
    <li>
    <a class="cursorpointer" ng-click="adminPage('featureslist')">Features</a>
    </li>
    <li>
      <a class="cursorpointer" ng-click="adminPage('featuredProducts')">Featured Products</a>
    </li>
    <li>
      <a class="cursorpointer" ng-click="adminPage('orders')">Sales reports</a>
    </li>
  </ul>
</div><!--/.nav-collapse -->

</div>
<div class="col-md-12">
  <div id="form-views" ui-view></div>        
</div>
</div>
