<div class="featured-Products">
    <div class="container">
        <div class="category-title-header">
            <div class="title-center">
                <div class="title"><h1>Featured Products</h1></div>
                <div class="separator-title"><div class="divider-line"></div></div>
            </div>
            <div class="clearer"></div>
        </div>

        <section  style="min-height: 200px">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="table-responsive" ng-hide="filtered.length === 0">
                        <div class="row text-center">
                           <!--  <div class="col-md-3 pull-right">
                                <a ui-sref="adminconsole.addproduct" class="btn btn-xs btn-success pull-right"><span class="fa fa-plus fa-2x"></span></a>
                            </div> -->
                            <div class="input-group primary col-md-12" inputgroup>
                                <span class="input-group-addon">
                                    <span class="arrow"></span>
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" class="form-control search-page-input" placeholder="Search Product" ng-model="search">
                            </div>
                        </div>
                        <br>
                        <div class="alert alert-warning" role="alert" ng-show="filtered.length === 0">
                            You do not have any product
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Title</td>
                                    <td>Price</td>
                                    <td>Stock</td>
                                    <td>View</td>
                                    <td class="text-center" colspan="3">Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in filtered = products | filter: search | startSearchFrom:(currentPage-1) * itemsPerPage | limitTo:itemsPerPage" class="order-col">
                                    <td>{{p.title}}</td>
                                    <td>₹{{p.price | number}}</td>
                                    <td>{{p.stock}}</td>
                                    <!-- <td><span ng-repeat="cat in p.categories">{{cat.name}}{{p.categories.length - 1 > $index ? ',&nbsp;' : ''}}</span></td> -->
                                    <td>
                                        <a ui-sref="product({id: p.slug})" class="btn btn-sm btn-primary"> <span class="glyphicon glyphicon-eye-open"></span></a>
                                    </td>
                               <!--  <td ng-show="isAdmin">
                                    <a ui-sref="add-product" class="btn btn-xs btn-success"><span class="fa fa-plus fa-2x"></span></a>
                                </td> -->
                                <td >
                                    <!-- <a ui-sref=" adminconsole.edit-product({id: p.slug})" class=""><span class="fa fa-edit fa-2x"></span></a> -->
                                    <button class="btn btn-xs btn-success " ng-if="p.affiliate" ng-disabled =  "true"><span class="fa fa-plus fa-2x"></span></button>
                                    <button class="btn btn-xs btn-success" ng-click="addtoFeaturedProducts(p._id,p)" ng-if="!p.featured && !p.affiliate"><span class="fa fa-plus fa-2x"></span></button>
                                    <button class="btn btn-xs btn-danger" ng-click="removefromFeaturedProducts(p._id,p)" ng-if="p.featured && !p.affiliate"><span class="fa  fa-remove fa-2x"></span></button>
                                </td>
                                <!-- <td >
                                    <a ng-click="deleteProduct('Product ' + p.title, p)" class="trash"><span class="fa fa-trash fa-2x">                                </span></a>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>        
    </section>
</div>
</div>
<footer></footer>
