<div class="footer-widget-area bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 hidden-sm hidden-xs">
                <ul class="social-icons">
                    <li><i class="fa fa-facebook"></i><a href="#">FACEBOOK</a></li>
                    <li><i class="fa fa-instagram"></i><a href="#">instagram</a></li>
                    <li><i class="fa fa-flickr"></i><a href="#">flickr</a></li>
                    <li><i class="fa fa-youtube-play"></i><a href="#">youtube</a></li>
                    <li><i class="fa fa-twitter"></i><a href="#">twitter</a></li>
                    <li><i class="fa fa-google-plus"></i><a href="#">google+</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 hidden-sm hidden-xs">
                <div class="footer-widget-bottom">
                    <h2>Support Payments</h2>
                    <div class="support-payments">
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-amex"></i>
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-mastercard"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm">
                <div class="footer-widget">
                    <p>Get in Touch</p>
                </div>
                <p class="information">Email: info@wrapsy.in</p>
                    <p class="information">Phone: <span>(+234)866-550-3669</span></p>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Bottom Widget Area-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="border-line">
                <p>Copyright © <a href="#">Wrapsy.in</a>. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
