<div class="cat-menu">
    <ul id="category">
        <li class="cat-title" ui-sref-active="active">
            <a href="#">My account</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-categories">Manage categories</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-products">Manage products</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-requests">Requests</a>
        </li>
        <li ui-sref-active="active" ng-show="isLoggedIn">
            <a ui-sref="orders">Orders</a>
        </li>
        
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="admin">Users</a>
        </li>
       
    </ul>
</div>
