<navbar></navbar>
<br>
<div class="container">
  <div class="m-b-20 clearfix">
    <div class="page-title text-center">
      <h3 class="text-center"><strong>My Orders</strong></h3>
    </div>
  </div>
  <br>


  <div class="row">

    <ul ng-repeat = "order in orders">
      <br>
      <div class="row">
        <div class="col-md-4">
          <strong>Order : #{{order.orderNumber}}</strong>
        </div>
        <div class="col-md-4">
          <strong>Status : {{order.status}}</strong>
        </div>
        <div class="col-md-4 pull-right">
        <button class="btn btn-info pull-right" ng-click="cancelorder($event , order._id , order.orderNumber)" ng-disabled = "order.cancelrequest">Cancel Order</button>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <br>
      <div class="borderless">
        <br>
        <li ng-repeat="item in order.items" >
         <div class="row">
           <div class="col-md-12">
             <div class=col-md-2>
               <img ui-sref="product({id: item.products.slug})" ng-src="{{item.products.coverimage}}" class="thumb"/>
             </div>
             <div class=col-md-2>
              <a class="entity-name cursorpointer" ui-sref="product({id: item.products.slug})" >{{item.products.title}}</a>
              <br>
              Quantity : {{item.quantity}}
              <br>
              <div ng-repeat = "f in item.features">
                {{f.feature}} :  {{f.value}}
              </div>
            </div>        
            <div class="col-md-2">Status : {{item.status}}</div>
            <div class="col-md-2">Item Price : ₹{{item.products.price | number}}</div>
            <div class="col-md-2">GST : {{item.products.gst}}%</div>
            <div class="col-md-2">Item SubTotal : ₹{{item.subtotal}}
              <br>
              <button class="btn btn-primary" ng-click="returnProduct($event , order._id , item.products._id , item.products.title )" ng-disabled = "order.cancelrequest">Return Product</button>
            </div>
          </div>
        </div> 
      </li>
    </div>
  </ul>

  <br>
  <br>


</div>
</div>



<!-- <md-content class="md-whiteframe-z1" layout-padding>
    <div ng-repeat = "order in orders">
      <div>Order No : {{order.orderNumber}}</div>
      <br>
      <table>
          <thead>
            <tr>
              <th>Product Description</th>
              <th>Status</th>
              <th>Price</th>
              <th>Subtotal</th>
          </tr>
      </thead>
      <tr ng-repeat="item in order.items">
        <td><div layout="row">
          <div flex>
              <img ng-src="{{item.products.coverimage}}" class="thumb"/>
          </div>
          <div flex>
            Quantity : {{item.quantity}}
            <br>
            <div ng-repeat = "f in item.features">
              {{f.feature}} :  {{f.value}}
          </div>
      </div>
  </div></td>
  <td>Placed</td>
  <td>{{item.products.price}}</td>
  <td>{{item.subtotal}}</td>
</tr>
</table>
</div>
<br>
</md-content> -->
<footer></footer>