<navbar></navbar>
<nav class="navbar navbar-default" ng-show="isAdmin">
  <div class="container-fluid">

      <ul class="nav navbar-nav">
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-categories">Manage categories</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-products">Manage products</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-products">Features</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-products">Filters</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-requests">Requests</a>
        </li>
        <li ui-sref-active="active" ng-show="isLoggedIn">
            <a ui-sref="orders">Orders</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="sales">Sales Reports</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="admin">Users</a>
        </li> 
    </ul>
</div>
</nav>
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">orders</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="product-grid" style="min-height: 200px">
    <div class="container">
        <div class="row">
      <!--       <div class="col-lg-3 col-md-3">
                <div class="uimax-sidebar">
                  <div class="product-filter">
                    <div class="categories-list block">
                        <div class="title">Options</div>

                        <ul class="list" >
                         <li  ui-sref-active="active" ng-hide="isAdmin">
                            <a href="#">My account</a>
                        </li>
                        <li ui-sref-active="active" ng-show="isAdmin">
                            <a ui-sref="manage-categories">Manage categories</a>
                        </li>
                        <li ui-sref-active="active" ng-show="isAdmin">
                            <a ui-sref="manage-products">Manage products</a>
                        </li>
                        <li ui-sref-active="active" ng-show="isAdmin">
                            <a ui-sref="manage-requests">Requests</a>
                        </li>
                        <li ui-sref-active="active" ng-show="isLoggedIn">
                            <a ui-sref="orders">Orders</a>
                        </li>

                        <li ui-sref-active="active" ng-show="isAdmin">
                            <a ui-sref="admin">Users</a>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
        <!--  <sidebar-account></sidebar-account> 
    </div> -->
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="alert alert-warning" role="alert" ng-show="filtered.length === 0">
            You do not have any order
        </div>
        <div class="table-responsive">

            <table class="table table-striped" ng-hide="filtered.length === 0">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Order Number</td>
                        <td>Customer Name</td>
                        <td>Telephone</td>
                        <td>Status</td>
                        <td>Date</td>
                        <td>Total</td>


                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="o in filtered = orders | filter:search  | startSearchFrom:(currentPage-1) * itemsPerPage | limitTo:itemsPerPage" class="table-col">
                        <td>{{$index + 1}}</td>
                        <td>{{o.orderNumber}}</td>
                        <td>{{o.customerName}}</td>
                        <td>{{o.customerPhone}}</td>
                        <td>
                         <select ng-model="status">
                            <option ng-repeat="x in orderstatus" value="{{x.id}}">{{x.status}}</option>
                        </select>
                    </td>
                    <td>{{o.created | date}}</td>
                    <td>₹{{o.totalCost}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>

<div class="col-lg-3 col-md-3">
    <div class="uimax-sidebar">
      <div class="product-filter">
        <div class="categories-list block">
            <div class="title">Search</div>
            <ul class="list" >
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Search By</label>
                        <div class="row grid-container grid-spacing-half">
                            <div class="col-xs-12 col-sm-12 col-md-12 grid-item top-row bottom-row">
                                <select ng-model="searchoption" class="form-control search-page-input">
                                    <option ng-repeat="x in searchOptions" value="{{x.id}}">{{x.option}}</option>
                                </select>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Search By</label>
                        <div class="row grid-container grid-spacing-half">
                            <div class="col-xs-12 col-sm-12 col-md-12 grid-item top-row bottom-row">
                                <input type="text" class="form-control search-page-input" placeholder="Search order" ng-model="search">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        
                       <button type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-categories">Manage categories</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-products">Manage products</a>
        </li>
        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="manage-requests">Requests</a>
        </li>
        <li ui-sref-active="active" ng-show="isLoggedIn">
            <a ui-sref="orders">Orders</a>
        </li>

        <li ui-sref-active="active" ng-show="isAdmin">
            <a ui-sref="admin">Users</a>
        </li>  -->
    </ul>
</div>
</div>
</div>

</div> 
</div>
</div>
</section>
<br>
<footer></footer>
