
<div class="table-responsive"> 
   <div >
      <table class="table table-hover">
        <thead>
        <tr >

            <th class="text-center"><a  class="cursorpointer"><strong>Order #</strong></a> </th>
            <th class="text-center"><a  class="cursorpointer"><strong>Status</strong></a> </th>
            <th class="text-center"><a  class="cursorpointer"><strong>Reason</strong></a> </th>
            <th class="text-center"><a  class="cursorpointer"><strong>Cancel/return</strong></a> </th>
            <th class="text-center"><a  class="cursorpointer"><strong>Change Status</strong></a> </th>

        </tr>
    </thead>
    <tbody >
      <tr ng-repeat="req in requests" class="order-col">
        <td class="text-center"> {{req.orderId.orderNumber}}

     </td>
<td class="text-center">{{req.orderId.status}}</td>
<td class="text-center">{{req.reason}}</td>
<td class="text-center"><span ng-if="req.return">Return</span><span ng-if="!req.return">Cancel</span></td>

<td class="text-center"><select class="form-control" id="sel1" ng-model="status" ng-change="updatestatus(order.orderNumber , item.products._id,status )">
    <option>Approve Cancel Request</option>
    <option>Reject Cancel Request</option>
    <option>Approve Return Request</option>
    <option>Reject Return Request</option>
</select></td>
</tr>
</tbody> 
</table>
</div>
</div>