.product-name {
margin-top: 0px;
font-size: 20px;
font-weight: 700;
line-height: 1.5;
margin-bottom: 20px;
font-size: 184.61538%;
line-height: 141.66667%;
font-family: "montserratregular", sans-serif;
}

.product-details-area{
padding: 60px;
}

.product-price {
margin-top: 0px;
font-size: 20px;
line-height: 1.5;
margin-bottom: 20px;
font-size: 184.61538%;
line-height: 141.66667%;
font-family: "montserratregular", sans-serif;
color: #086fcf;
}

.product-detail-label{
margin-top: 2%;
padding-left: 3%;
font-size: 13px;
color: #5a5a59;
text-transform: capitalize;
font-weight : bold;
}

.product-size , .product-color{
  margin-top : 10px;
  margin-bottom : 10px;
  
}

