.product-details-area{
background-color : #ffffff;
}

#product #content {
position: relative;
}

.images-container {
position: relative;
padding: 3px 0 3px 17.28%;
margin-top: 3px;
}

.product-cover {
position: relative;
border: 1px solid #d6d6d6;
}

@media (min-width: 576px){
.product-flags {
top: 19px;
left: 18px;
right: 19px;
}
}

.product-flags {
position: absolute;
top: 10px;
left: 9px;
right: 10px;
-js-display: flex;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0;
}


.product-cover .layer {
-js-display: flex;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
background: #fff;
position: absolute;
left: 0;
top: 0;
opacity: 0;
background: hsla(0,0%,100%,.7);
text-align: center;
cursor: pointer;
transition: opacity .5s ease-in-out;
}

.product-cover .layer .zoom-in {
font-size: 100px;
color: #b1b1b1;
}

.images-container .js-qv-mask {
position: absolute;
left: 0;
top: 50%;
width: 15.13%;
transform: translateY(-50%);
}


@media (min-width: 1200px){
.product-content {
padding-left: 4.4%;
}
}

.product-quantities, .product-reference {
display: inline-block;
margin-right: 35px;
}

.product-quantities label, .product-reference label {
font-weight: 400;
text-transform: uppercase;
color: #262626;
}

.product-quantities, .product-reference {
display: inline-block;
margin-right: 35px;
}

@media (min-width: 1200px){
.product-information h2 {
font-size: 36px;
margin-top: 20px;
}
}

@media (min-width: 576px){
.product-information h2 {
font-size: 26px;
}
}

.product-information h2 {

padding-top: 20px;
padding-bottom: 20px;
font-family: "Lato", sans-serif;
line-height: 20px;
font-size: 22px;
font-weight: 600;
color: #212121;
margin: 0 0 15px 0;
position: relative;
letter-spacing: 0.05em;
text-transform: uppercase;
}

@media (min-width: 1200px){
.product-prices {
margin-top: 27px;
}
}

.product-prices {
margin-top: 20px;
}

.product-information .product-price {
font-size: 36px;
margin: 0;
color: #262626;
}

.product-price {
color: #ff6161;
display: inline-block;
}

.product-prices .tax-shipping-delivery-label {
font-size: 13px;
color: #7b7b7b;
}

@media (min-width: 1200px){
.product-variants {
margin-top: 20px;
}
}

.posted {
height: 14px;
line-height: 13px;
-webkit-box-orient: vertical;
overflow: hidden;
font-size: 13px;
white-space: nowrap;
color: #999999;
margin-top: 5px;
}

.review{
	margin-top : 20px;
}

.review-comment {
	font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
    color: #666;
    margin-top: 15px;
}

.product-variants {
margin-top: 8px;
max-width: 450px;
}

.product-variants>.product-variants-item {
-js-display: flex;
display: flex;
align-items: center;
margin-bottom: 12px;
}

.product-variants>.product-variants-item .control-label {
min-width: 60px;
flex-shrink: 0;
font-family: LatoBold;
font-size: 16px;
color: #474c50;
font-variant: small-caps;
/* float: left; */
padding-bottom: 8px;
}

.product-variants>.product-variants-item .control-label+* {
flex: 1 1 auto;
}

.product-variants>.product-variants-item ul {
margin: -5px 0 0 10px;
padding: 13px 0;
line-height: 0;
}

.product-variants>.product-variants-item ul li {
display: inline-block;
margin: 5px 0 0 6px;
}

.input-container {
position: relative;
}

.input-color {
position: absolute;
opacity: 0;
cursor: pointer;
height: 20px;
width: 20px;
}

.input-color:checked+span, .input-radio:checked+span {
border: 2px solid #fff;
box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
}

.color, .custom-checkbox input[type=checkbox]+span.color {
display: block;
width: 20px;
height: 20px;
box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
border-radius: 50%;
cursor: pointer;
background-size: contain;
transition: box-shadow .3s ease;
border: none;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
}

.product-variants>.product-variants-item .control-label+* {
flex: 1 1 auto;
}

.form-control-select {
height: 46px;
-moz-appearance: none;
-webkit-appearance: none;
background: #f4f4f4;
padding-right: 35px;
padding-left: 16px;
border: none;
color: #b1b1b1;
margin-left : 10px;
}

.product-variants>.product-variants-item .control-label+* {
flex: 1 1 auto;
}

@media (min-width: 1200px){
.product-add-to-cart {
margin-top: 54px;
}
}

.product-add-to-cart {
margin-top: 30px;
margin-bottom : 30px;
}


@media (min-width: 576px){
.product-actions .add-to-cart {
min-width: 163px;
}
}

.qty{
max-width : 100px;
}

.pdt-button{
margin:20px;
}

.product-actions .add-to-cart {
margin-right: 15px;
}
#product-availability {
display: inline-block;
font-weight: 700;
color: #262626;
}

.product-refresh {
margin-top: 20px;
}

@media (min-width: 1200px){
.social-sharing {
margin-top: 35px;
}
}

.social-sharing {
width: 100%;
margin-top: 10px;
}

.social-sharing ul {
margin: 0 0 0 -11px;
}

.social-sharing li.facebook {
background-color: #3b5998;
background-image: url(../css/89b549e7beb54f961d6055ce1371249d.svg);
}

.social-sharing li {
display: inline-block;
height: 37px;
width: 37px;
border-radius: 50%;
background-repeat: no-repeat;
background-size: 22px;
cursor: pointer;
margin-left: 11px;
transition: all .2s ease-in;
}

.facebook {
background-image: url(../css/1ce25e1512da92e4a92733a08c1ed801.svg);
}

.facebook, .googleplus, .instagram, .pinterest, .rss, .twitter, .vimeo, .vk, .youtube {
position: relative;
background-repeat: no-repeat;
background-position: 50%;
background-size: contain;
}

.social-sharing li a {
display: block;
width: 100%;
height: 100%;
white-space: nowrap;
text-indent: 100%;
overflow: hidden;
}

.text-hide {
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
}

.social-sharing li.twitter {
background-color: #00aaf0;
background-image: url(../css/ba664b297913d24946b6440712c44ded.svg);
}

.social-sharing li.googleplus {
background-color: #df4a32;
background-image: url(../css/ec53031ca85f15b9d6c5f35a412a4247.svg);
}

.social-sharing li.pinterest {
background-color: #ce1f21;
background-image: url(../css/b30fdab8928c5176e8f88ca280fd09bc.svg);
}

@media (min-width: 1200px){
.product-content {
padding-left: 4.4%;
}
}

.product-content {
padding-left: 4.4%;
}