<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
  <h3 class="list-title text-center">Select your  Occasion</h3>
  
</div>
<div class="modal-body">
  
    <div class="row">
      <div class="cover-card col-sm-6" style="background: url(/assets/img/cover.jpg) no-repeat center top;background-size:cover;" ng-click="ok('assets/img/cover.jpg')">
          <p>
            Select Photo
          </p>
      </div>
      <div class="cover-card col-sm-6" style="background: url(/assets/img/cover1.jpg) no-repeat center top;back ground-size:cover;" ng-click="ok('assets/img/cover2.jpg')">
          <p>
            Select Photo
          </p>
      </div>
    </div>
    <div class="row">
      <div class="cover-card col-sm-6" style="background: url(/assets/img/cover2.jpg) no-repeat center top;background-size:cover;" ng-click="ok('assets/img/cover2.jpg')">
          <p>
            Select Photo
          </p>
      </div>
      <div class="cover-card col-sm-6" style="background: url(/assets/img/cover3.jpg) no-repeat center top;background-size:cover;" ng-click="ok('assets/img/cover3.jpg')">
          <p>
            Select Photo
          </p>
      </div>
       <div class="cover-card col-sm-6" style="background: url(/assets/img/cover4.jpg) no-repeat center top;background-size:cover;" ng-click="ok('assets/img/cover4.jpg')">
          <p>
            Select Photo
          </p>
      </div>
       <div class="cover-card col-sm-6" style="background: url(/assets/img/cover5.jpg) no-repeat center top;background-size:cover;" ng-click="ok('assets/img/cover5.jpg')">
          <p>
            Select Photo
          </p>
      </div>
       <div class="cover-card col-sm-6" style="background: url(/assets/img/cover6.jpg) no-repeat center top;background-size:cover;" ng-click="ok('assets/img/cover6.jpg')">
          <p>
            Select Photo
          </p>
      </div>
       <div class="cover-card col-sm-6" style="background: url(/assets/img/cover7.jpg) no-repeat center top;background-size:cover;" ng-click="ok('assets/img/cover7.jpg')">
          <p>
            Select Photo
          </p>
      </div>
       <div class="cover-card col-sm-6" style="background: url(/assets/img/cover8.jpg) no-repeat center top;background-size:cover;" ng-click="ok('assets/img/cover8.jpg')">
          <p>
            Select Photo
          </p>
      </div>

    </div>

  

</div>
