<section class="event-details">
	<div class="container">
		<div class="row">
			<div class="category-title-header">
				<div class="title-center">
					<div class="title"><h1>Event Location Details</h1></div>
					<div class="separator-title"><div class="divider-line"></div></div>
				</div>
				<div class="clearer"></div>
			</div>
		</div>
		<div class = "register-section">
			<form class="form" name="form1" ng-submit="savelocation(form1)" novalidate>
				<!-- our nested state views will be injected here -->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group form-group-lg">
							<label>Name</label>
							<div class="row grid-container grid-spacing-half">
								<div class="col-xs-9 col-sm-9 col-md-9 grid-item top-row bottom-row">
									<input type="text"  class="form-control" placeholder="Name" id="name" name="name"
									ng-model="address.name" required>
									<p ng-show="(form1.name.$invalid && !form1.name.$pristine) || (form1.name.$invalid && form1.name.$touched) || (form1.name.$invalid && locationformsubmitted)" class="help-block">Name is required.</p>                                
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-group-lg">
							<label>Mobile Number</label>
							<div class="row grid-container grid-spacing-half">
								<div class="col-xs-9 col-sm-9 col-md-9 grid-item top-row bottom-row">
									<input type="text" name="phoneNumber" placeholder="9999999999" class="form-control" ng-model="address.phoneNumber" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" required/>
									<span class="help-block" ng-show="(form1.phoneNumber.$invalid && !form1.phoneNumber.$pristine) || (form1.phoneNumber.$invalid && form1.phoneNumber.$touched) || (form1.phoneNumber.$invalid && locationformsubmitted) ">The phone number field should be 
										of 10 digits</span>              
									</div>

								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group form-group-lg">
								<label>Address 1</label>
								<div class="row grid-container grid-spacing-half">
									<div class="col-xs-9 col-sm-9 col-md-9 grid-item top-row bottom-row">
										<input type="text"  class="form-control" placeholder="Address 1" id="name" name="address1"
										ng-model="address.address1" required>
										<p ng-show="(form1.address1.$invalid && !form1.address1.$pristine) || (form1.address1.$invalid && form1.address1.$touched) || (form1.address1.$invalid && locationformsubmitted) " class="help-block">Address 1 is required.</p>                                
									</div>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-group-lg">
								<label>Address 2</label>
								<div class="row grid-container grid-spacing-half">
									<div class="col-xs-9 col-sm-9 col-md-9 grid-item top-row bottom-row">
										<input type="text"  class="form-control" placeholder="Address 2" id="name" name="address2"
										ng-model="address.address2" required>
										<p ng-show="(form1.address2.$invalid && !form1.address2.$pristine) || (form1.address2.$invalid && form1.address2.$touched) || (form1.address2.$invalid && locationformsubmitted) " class="help-block">Address 2 is required.</p>                                
									</div>

								</div>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-md-6">
							<div class="form-group form-group-lg">
								<label>Landmark</label>
								<div class="row grid-container grid-spacing-half">
									<div class="col-xs-9 col-sm-9 col-md-9 grid-item top-row bottom-row">
										<input type="text"  class="form-control" placeholder="landmark" id="landmark" name="landmark"
										ng-model="address.landmark">

									</div>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-group-lg">
								<label>City</label>
								<div class="row grid-container grid-spacing-half">
									<div class="col-xs-9 col-sm-9 col-md-9 grid-item top-row bottom-row">
										<input type="text"  class="form-control" placeholder="city" id="city" name="city"
										ng-model="address.city" required>
										<p ng-show="(form1.city.$invalid && !form1.city.$pristine) || (form1.city.$invalid && form1.city.$touched) || (form1.city.$invalid && locationformsubmitted) " class="help-block">City is required.</p>                                
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group form-group-lg">
								<label>State</label>
								<div class="row grid-container grid-spacing-half">
									<div class="col-xs-9 col-sm-9 col-md-9 grid-item top-row bottom-row">
										<!-- <input type="text"  class="form-control" placeholder="State" id="state" name="state"
										ng-model="address.state" required> -->
										<select class="form-control" name="state" ng-model="address.state" data-live-search="true" required>
											<option ng-repeat="state in states" value="{{state}}" >{{state}}</option>
										</select>
										<p ng-show="(form1.state.$invalid && !form1.state.$pristine) || (form1.state.$invalid && form1.state.$touched)  || (form1.state.$invalid && locationformsubmitted)" class="help-block">State is required.</p>                                
									</div>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-group-lg">
								<label>Pincode</label>
								<div class="row grid-container grid-spacing-half">
									<div class="col-xs-9 col-sm-9 col-md-9 grid-item top-row bottom-row">
										<input type="text" name="pincode" placeholder="600001" class="form-control" ng-model="address.pincode" ng-maxlength="6" ng-minlength="6" ng-pattern="/^\d{6}$/" required/>
										<span class="help-block" ng-show="(form1.pincode.$invalid && !form1.pincode.$pristine) || (form1.pincode.$invalid && form1.pincode.$touched) || (form1.pincode.$invalid && locationformsubmitted) ">The pincode field should be 
											of 6 digits</span>              
										</div>

									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-2 pull-right">
								<input type="submit" class="btn btn-primary btn-lg " value="Proceed">
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 pull-left">
								<input type="button" class="btn btn-primary btn-lg" ng-click="registryType('eventDetails')" value="Previous">
							</div>

						</div>
					</form>
				</div>
				
			</div>
		</section>

