
<section>
	

	<div class="row">
		<div class="category-title-header">
			<div class="title-center">
				<div class="title"><h1>Select Your Momentous Occassion</h1></div>
				<div class="separator-title"><div class="divider-line"></div></div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>


	<div class="registries">
		<div class="row">
			<div class="col-md-4 registrytype ">
				<img src="/assets/img/housewarming.jpg" class="img-thumbnail image " alt="Cinque Terre" >
				<div class="middle">
					<md-button class="md-accent md-raised" ng-click="eventType('house')">House Warming Registry</md-button>
				</div>

			</div>

			<div class="col-md-4 registrytype ">
				<img src="/assets/img/weddingicon.jpg" class="img-thumbnail image " alt="Cinque Terre" >
				<div class="middle">
					<md-button class="md-accent md-raised" ng-click="eventType('wedding')">Wedding Registry</md-button>
				</div>

			</div>
			<div class="col-md-4 registrytype ">
				<img src="/assets/img/anniversary.jpg" class="img-thumbnail image " alt="Cinque Terre" >
				<div class="middle">
					<md-button class="md-accent md-raised" ng-click="eventType('anniversary')">Anniversary Registry</md-button>
				</div>

			</div>
		</div>
	</div>
	<div class="registries">
		<div class="row">
			<div class="col-md-4 registrytype ">
				<img src="/assets/img/babyregistry.jpg" class="img-thumbnail image" alt="Cinque Terre">
				<div class="middle">
					<md-button class="md-accent md-raised" ng-click="eventType('baby')">Baby Shower Registry</md-button>
				</div>

			</div>
			<div class="col-md-4 registrytype ">
				<img src="/assets/img/birthdayreg.jpg" class="img-thumbnail image " alt="Cinque Terre" >
				<div class="middle">
					<md-button class="md-accent md-raised" ng-click="eventType('bithday')">Birthday Registry</md-button>
				</div>

			</div>
			<div class="col-md-4 registrytype ">
				<img src="/assets/img/otherregistry.jpg" class="img-thumbnail image " alt="Cinque Terre" >
				<div class="middle">
					<md-button class="md-accent md-raised" ng-click="eventType('other')">Other Registry</md-button>
				</div>

			</div>

		</div>
	</div>
</section>
