.registryPage{
background-color : #ffffff
}


.registry-settings{
margin-top: 30px;
margin: 0 auto;
max-width: 700px;
padding: 10px 40px;
}

.registry-form{
border: 1px solid #d9d9d9;
border-radius: 0;
box-shadow: none;
}

.registry-label{

font-family: 'PT Serif', serif;
color : #333
}

@media (min-width: 992px){
.registry-top .registry-hero {
height: 430px;
}
}

@media (min-width: 768px){

.registry-top .registry-hero {
height: 362px;
}
}

.registry-top .registry-hero {
margin: 20px 0 45px 0;
}

@media (min-width: 1280px){

.registry-hero {
padding: initial;
height: 420px;
}
}

.registry-hero {
position: relative;
max-width: 1280px;
margin-right: auto;
margin-left: auto;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-ms-behavior: url(/assets/backgroundsize.htc);
background-position: center;
padding-bottom: 15.625%;
}


.full-width-image{
background-size: cover;
text-align: center;
}

.registry-image{
position: relative;
max-width: 1280px;
margin-right: auto;
margin-left: auto;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-ms-behavior: url(/assets/backgroundsize.htc);
background-position: center;
padding-bottom: 15.625%;
}

.registry-hero .registry-hero-gradient {
position: absolute;
height: 50%;
width: 100%;
top: 0;
background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
background-image: -o-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#00000000,GradientType=0);
}

.registry-top .registry-hero .hero-buttons {
position: absolute;
width: 100%;
padding: 7px;
}

.registry-hero .registry-hero-content {
padding-top: 75px;
text-align: center;
text-shadow: 1px 1px 15px rgba(0,0,0,0.4);
}

@media (min-width: 992px)
{
.registry-top .couple-edit-frame {
cursor: pointer;
}
}

.registry-top .couple-edit-frame {
bottom: -40px;
left: 50%;
width: 150px;
height: 150px;
margin-left: -75px;
position: absolute;
}

.registry-top .couple-edit-frame .couple-img-circle {
bottom: 0;
left: 0;
margin-left: 0;
}

@media (min-width: 992px){
.registry-top .couple-edit-frame * {
-webkit-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}
}
.registry-hero .couple-img-circle {
width: 150px;
height: 150px;
position: relative;
bottom: -30px;
left: 50%;
margin-left: -75px;
}

.couple-img-circle {
background-color: #fff;
-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
padding: 3px;
border-radius: 50%;
}

.couple-img-circle-find {
background-color: #fff;
-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
padding: 3px;
border-radius: 50%;
width: 50px;
height: 50px;
}

.btn-tertiary {
color: #a8a8aa;
background-color: #fff;
border-color: #a8a8aa;
}

.registry-title {
overflow: hidden;
}

.registry-top .editable-prev {
display: inline-block;
width: 95%;

border: 2px solid transparent;
}

.registry-hero .registry-hero-content .registry-title, .registry-hero .registry-hero-content .registry-date {
color: white;
}

.greeting {
color: white;
margin-top : 5px;
}

.registry-image{
max-height : 200px;
padding : 0px;
}


.registry-hero .registry-hero-content .registry-title {
position: relative;
font-size: 40px;
text-transform: uppercase;
font-weight: 500;
}


@media (min-width: 768px){
.registry-top .registry-hero .registry-hero-content .registry-title {
font-size: 32px;
}
}

@media (min-width: 992px){
.registry-top .registry-hero .registry-hero-content .registry-title {
font-size: 32px;
}
}

@media (min-width: 1200px){
.registry-top .registry-hero .registry-hero-content .registry-title {
font-size: 32px;
}
}

.registry-top .hero-cta {
position: absolute;
bottom: 10px;
right: 7px;
}

.registry-top .registry-welcome .lead {
font-family: "Aleo",'Georgia',serif;
font-size: 18px;
color: #7f7f7f;
font-style: italic;
}

.image-upload .image-gallery .gallery-image {
position: relative;
}

.img-overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

color: #fff;
padding: 50%;
padding: 50%;
}

.find-title{
font-size: 28px;
line-height: 1.15;
margin-bottom: 0px;
text-align: center;
color: #2b3136;
font-family:LatoRegular, sans-serif;
padding-top : 5px;
margin-top : 10px;
}

.registryHeading{

cursor: pointer !important;
}



@keyframes slideOutLeft {
to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
from    { transform:translateX(200%); }
to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
from    { -moz-transform:translateX(200%); }
to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
from    { -webkit-transform:translateX(200%); }
to      { -webkit-transform: translateX(0); }
}


#form-container{  
margin-bottom:20px;
border-radius:5px; 
}
#form-container .page-header{  
margin:0; padding:30px; 
border-top-left-radius:5px;
border-top-right-radius:5px; 
}

/* numbered buttons */
#status-buttons a{ 
color:#333; 
display:inline-block; 
font-size:12px; 
margin-right:10px; 
text-align:center; 
text-transform:uppercase;
}
#status-buttons a:hover{ 
text-decoration:none; 
}
#status-buttons span{ 
background:grey; 
display:block; 
height:30px; 
margin:0 auto 10px; 
padding-top:5px; 
width:30px; 
border-radius:50%; 

}

.disableevent, .disablelocation, .disablemessage{
cursor : not-allowed !important;
}

#status-buttons a.active span{ 
background:#00BC8C; 
}


#signup-form{ 
position:relative; 
min-height:300px; 
overflow:hidden; 

}

#form-views.ng-enter,
#form-views.ng-leave{ 
position:absolute; 
left:30px; 
right:30px;
transition:0.5s all ease;
-moz-transition:0.5s all ease; 
-webkit-transition:0.5s all ease; 
}


#form-views.ng-enter{ 
-webkit-animation:slideInRight 0.5s both ease;
-moz-animation:slideInRight 0.5s both ease;
animation:slideInRight 0.5s both ease; 
}


#form-views.ng-leave { 
-webkit-animation:slideOutLeft 0.5s both ease;
-moz-animation:slideOutLeft 0.5s both ease;
animation:slideOutLeft 0.5s both ease;   
}











#main-container-background, #main-nav>ul>li>ul {
background-color: #FFFFFF;
}

#main-container-background {
background-image: url(https://static.xoedge.com/xo-guest-services/assets/guest/themes/archival_florals/background_image-647bad8655988d3dcd0fc73915772796.png);
background-repeat: no-repeat;
background-size: 100% auto;
background-position: top center;
}

#main-container-background {
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-position: center;
}

#main-container {
padding-bottom: 0 !important;
}

@media (min-width: 1200px){
#main-container {
padding-bottom: 120px;
}
}

#main-container {
position: relative;
min-height: 100%;
padding-bottom: 12%;
}

@media (min-width: 1200px){
.theme-image-container, .theme-image-container-bottom {
padding: 0;
height: 120px;
}
}

.theme-image-container {
position: relative;
}

.theme-image-container, .theme-image-container-bottom {
width: 100%;
padding-bottom: 12%;
}

.theme-image, .theme-image-layer-top, .theme-image-bottom, .theme-image-left, .theme-image-right {
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background-size: contain;
background-repeat: no-repeat;
}

.theme-image-container-left, .theme-image-container-right {
width: 12%;
max-width: 132px;
position: fixed;
top: 0;
bottom: 0;
}

.theme-image-container-left, .theme-image-container-right {
width: 12%;
max-width: 132px;
position: fixed;
top: 0;
bottom: 0;
}

.theme-image-container-right {
right: 0;
}

#main-nav-container {
position: relative;
padding-top: 30px;
padding-bottom: 30px;
width: 100%;
text-align: center;
z-index: 1000;
}

@media (min-width: 1200px){
.main-nav-container-inner {
max-width: 70%;
}
}


@media (min-width: 768px){
.main-nav-container-inner {
max-width: 90%;
}
}

.main-nav-container-inner {
position: relative;
max-width: 70%;
margin-left: auto;
margin-right: auto;
}

#main-nav {
display: block;
}

#main-nav>ul>li {
position: relative;
display: inline-block;
padding: 8px 12px;
text-transform: uppercase;
}

#main-nav li a {
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: normal;
color: #000000;
}

#main-nav li a:hover, #main-nav li a.selected {
color: #EA3954;
}

#header {
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
box-shadow: 0 1px 2px rgba(0,0,0,0.17);
}

@media (min-width: 1200px){
#header {
width: 70%;
}
}

#header {
position: relative;
margin: auto;
}

@media (min-width: 768px){
#header {
width: 90%;
}
}

.header-background {
    visibility: hidden !important;
    display: none !important;
}

#cover-image {
    background-color: #F9F9F9;
}

#cover-image {
    position: relative;
    border: 15px solid white;
    padding-bottom: 50%;
    background-color: white;
    overflow: hidden;
}

#cover-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
}

#title-container {
    position: relative;
    padding: 5px 10px 20px 0;
    text-align: center;
    background-color: white;
}

#wedding-title {
    color: #000000;
    font-family: Italiana;
    font-size: 60px;
    font-style: normal;
}

#wedding-title {
    font-family: "Italiana";
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

#wedding-title {
    margin: 6px 0 8px 0;
    line-height: 1;
}

#wedding-date-location {
    color: #000000;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
}

#wedding-date-location {
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

#wedding-location {
    white-space: nowrap;
}

#wedding-countdown {
    color: #000000;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
}

#wedding-countdown {
    margin: 3px 1px;
    font-size: 1.6em;
}

#content {
    margin-top: 60px;
}

@media (min-width: 1200px){
.page {
    width: 70%;
}
}

@media (min-width: 768px){
.page {
    width: 90%;
}
}

.page {
    position: relative;
    margin-bottom: 1.5em;
    width: 70%;
}

.center-block, .page {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#main-nav-container.fixed {
    background-color: rgba(255,255,255,0.9);
}

#main-nav-container.fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    -webkit-box-shadow: 0,1px,1px,rgba(0,0,0,0.17);
    box-shadow: 0,1px,1px,rgba(0,0,0,0.17);
}

#main-nav-container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

#cover-image {
    background-color: #F9F9F9;
}

#cover-image {
    position: relative;
    border: 15px solid white;
    padding-bottom: 50%;
    background-color: white;
    overflow: hidden;
}

#cover-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
}




