<navbar></navbar>
<div class="registryPage">
	<div class="container">

		<div class="page">
			<div class="row registry-menu">
				<ul class="menu">
					<li><a class="cursorpointer" ng-click="registryPage('home')">Home</a></li>
					<li><a class="cursorpointer" ng-click="registryPage('registrypdts')">Wishlist</a></li>
					<li><a class="cursorpointer" ng-click="registryPage('guestbook')">Guest Book</a></li>
					<li><a class="cursorpointer" ng-click="registryPage('rsvp')">RSVP</a></li>
					<li><a class="cursorpointer" ng-click="registryPage('accomodation')">Accomodation</a></li>
					<li><a class="cursorpointer" ng-click="inviteFriends()">Invite</a></li>
				</ul>
			</div>
			<div class="registry-container">
				<div id="form-views" ui-view></div> 
			</div>
		</div>
	</div>
</div>

