<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
  <h3 class="list-title text-center">Select your  Theme</h3>
  
</div>
<div class="modal-body">

  <div class="row">
    <div class="cover-card col-sm-6" style="background: url(/assets/img/theme1.jpg) no-repeat center top;background-size:cover;" ng-click="ok('theme1')">
      <p class="text-center">
        Select Theme
      </p>
    </div>
    <div class="cover-card col-sm-6" style="background: url(/assets/img/theme2.jpg) no-repeat center top;background-size:cover;" ng-click="ok('theme2')">
     <p class="text-center">
      Select Theme
    </p>
  </div>
</div>




</div>
