<navbar></navbar>
<!--Breadcrumbs Start-->
<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <ul class="breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
          <li class="active">search-result</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="category-title-header">
    <div class="title-center">
      <div class="title"><h1>{{categoryTitle}}</h1></div>
      <div class="separator-title"><div class="divider-line"></div></div>
    </div>
    <div class="clearer"></div>
  </div>
</div>
<div class="uimax-block-section-26 pdt-80 pdb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="uimax-sidebar">
          <div class="product-filter">
            <div class="categories-list block">
              <div class="title">Categories</div>
              
              <ul class="list" ng-repeat="parentCategory in parentCategories">
                <li><a ui-sref="products({slug: parentCategory.slug, category : parentCategory.name })">{{parentCategory.name}}</a></li>
                
              </ul>
            </div>
           <!--  <div class="block size-filter">
              <div class="title">size</div>
              <div class="select-group" ng-repeat = "size in sizes">
               <md-checkbox>
                 {{ size }}
               </md-checkbox>
             </div>
           </div> -->
         <!--   <div class="block price-filter">
            <div class="title">Price</div>
            <rzslider
            rz-slider-floor="priceSlider.floor"
            rz-slider-ceil="priceSlider.ceil"
            rz-slider-model="priceSlider.min"
            rz-slider-high="priceSlider.max"
            rz-slider-on-end="test()"></rzslider>

            <strong>{{priceSlider.min}}</strong> &nbsp;-&nbsp; $<strong>{{priceSlider.max}}</strong>
          </div> -->

         <!--  <div class="block color-filter">
            <div class="title">Color</div>
            <div class="select-group" ng-repeat = "color in colors">
             <md-checkbox>
               {{ color }}
             </md-checkbox>
           </div>
         </div> -->

         
            <!-- <div class="block price-range">
              <div class="title">Price</div>
              <rzslider rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue" rz-slider-options="minRangeSlider.options"></rzslider>
              
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="product-list" >
          <div class="col-md-4 col-sm-12 col-xs-12 item" ng-repeat="product in products">
            <div class="product-item">
              <div class="pic-wrapper">
                <a ui-sref="product({id: product.slug})" class="inner">
                  <img ng-src="{{product.imageUrl}}" alt="" class="pic" />
                </a>
                <a  ng-if = "product.affiliate" ui-sref="product({id: product.slug})" class="inner">
                  <img ng-src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN={{product.prodcode}}&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=sathviprasi-21" class="pic" alt="{{product.name}}" data-err-src="images/product.jpg" />
                </a>
              </div>
              <div class="product-desc">
                <h2 class="name"><a ui-sref="product({id: product.slug})" >{{product.title}}</a></h2>
                <div class="price">₹{{product.price}}</div>
              </div>
              <span class="sale">sale</span>
            </div>
          </div>          
        </div>
        <md-button class="md-raised md-accent pull-left" ng-show="page>0" ng-click="previousPage()">< Previous</md-button>
        <md-button class="md-raised md-accent pull-right" ng-click="nextPage()">Next ></md-button>
      </div>
      
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<footer></footer>
