<navbar></navbar>
<section class="product-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 left-pane">
                <p>Price</p>
                <input type="range" min="1" max="32" step="1" ng-model="slider"/>
            </div>
            <div class="col-md-9 main-product-grid">
                <div class="tab-content">
                    <!-- <div ng-include="'app/category/product-list.html'"></div> -->
                    <div class="cat-products">
                        <div class="category-title-header hidden-xs">

                            <div class="title-center">
                                <div class="title"><h1>{{categoryTitle}}</h1></div>
                                <div class="separator-title"><div class="divider-line"></div></div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="row" ng-if = "products.length < 1">
                            <div class="col-md-9">
                                <span class="text-center">No Products Found</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="toolbar">

                                    <div class="pager">

                                        <p class="amount amount-new">
                                            <strong>
                                                4 Products Found                        
                                            </strong>
                                        </p>

                                        <div class="pages" style="display: none;">
                                            <strong>Page:</strong>
                                            <ol>
                                                <li class="current">1</li>
                                            </ol>

                                        </div>        <!--</div>-->
                                    </div>
                                    <div class="sorter">
                                        <div class="sort-by">
                                            <label class="sort_by">Sort By</label>
                                            <select onchange="setLocation(this.value)">
                                              <option value="https://www.weddingwishlist.com/personal/grooming/appliances?dir=asc&amp;order=position" selected="selected">
                                                Relevance                    </option>                    
                                                <option value="https://www.weddingwishlist.com/personal/grooming/appliances?dir=asc&amp;order=price">
                                                   Price: Low to High                    </option>
                                                   <option value="https://www.weddingwishlist.com/personal/grooming/appliances?dir=desc&amp;order=price">
                                                    Price: High to Low                    </option>
                                                </select>

                                            </div>

                                        </div> <!-- end: sorter -->

                                    </div>

                                    <!--  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" "> -->

                                    <div class="col-md-4 col-sm-12 col-xs-12 first registry-item" ng-repeat="product in filtered = products  | startSearchFrom:(currentPage-1) * itemsPerPage | limitTo:itemsPerPage">
                                        <div class="product-outer">
                                          <div class="registry-product-image single-product">
                                              <a ui-sref="product({id: product.slug})" class="registry-product-link" >
                                                <img class="img-responsive item-image lazy primary-img" ng-src="{{product.imageUrl}}" width="480" height="480" alt="Hair Dryer - HP8100/06" style="display: block;">
                                                <img class="img-responsive item-image lazy secondary-img" ng-src="{{product.imageUrl}}" width="480" height="480" alt="Hair Dryer - HP8100/06" style="display: block;">
                                                <i class="fa fa-expand"></i>
                                            </a>

                                        </div>                      

                                        <div class="registry-product-name">
                                            <h2 class="product-name brand-name">
                                                <a ui-sref="product({id: product.slug})" class="registry-product-link">{{product.brand}}                                </a>
                                            </h2>
                                            <h2 class="product-name">
                                                <a ui-sref="product({id: product.slug})" >{{product.title}}      </a>
                                            </h2>
                                        </div>
                                        <div class="price-box" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                            <span class="regular-price" itemprop="price" id="product-price-3259">
                                                <span class="price">₹&nbsp;{{product.price}}  </span> </span>

                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                            <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer></footer>

