
<section class="product-grid" style="min-height: 200px">
	<div class="container">
		<div class="category-title-header">
			<div class="title-center">
			<div class="title"><h1>Add Feature</h1></div>
				<div class="separator-title"><div class="divider-line"></div></div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
	<div class="container">

		<div class="row">
			
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<form class="form" name="form" ng-submit="save(form)" novalidate>

					<div class="form-group">
						<label>Feature Name</label>
						<input type="text" name="name" class="form-control" ng-model="feature.key" required/>
						<p class="help-block" ng-show="form.name.$error.required">
							key is required
						</p>
					</div>

					<div class="form-group">
						<label>Value</label>
						<input type="text" name="value" class="form-control" ng-model="feature.value" required/>
						<p class="help-block" ng-show="form.name.$error.required">
							value is required
						</p>
					</div>

					<p class="help-block"> {{ message }} </p>
					<button class="btn btn-lg btn-primary" type="submit">Save changes</button>
				</form>
			</div>
		</div>
	</div>
</section>
<footer></footer>
