
<nav class="navbar navbar-custom ">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="hidden-xs"><a ui-sref="home"><img ng-src="/assets/img/logo/logo.png" class="logo"></img></a></span>
        <span  class="visible-xs text-center"><a ui-sref="home"><img ng-src="/assets/img/logo/logo.png" alt="wrapsy" class="logo"></a></span>
    </div>

    <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
         <li>
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kitchen </a>
             <ul class="dropdown-menu multi-level">
                <li><a href="#">Appliances</a></li>
                <li><a href="#">Storage</a></li>
                <li><a href="#">Cooking</a></li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Living </a>
            <ul class="dropdown-menu multi-level">
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Home Decor</a></li>
                <li><a href="#">Bed and Bath</a></li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Cool Stuff </a>
            <ul class="dropdown-menu multi-level">
                <li><a href="#">Home Accessories</a></li>
                <li><a href="#">Phone and Laptop Cases</a></li>
                <li><a href="#">Stationary</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fashion</a>
            <ul class="dropdown-menu multi-level">

                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men</a>
                    <ul class="dropdown-menu">
                        <li><a>Ethnic Wear</a></li>
                        <li><a>Formal Wear</a></li>
                        <li><a>Casual Wear</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women</a>
                    <ul class="dropdown-menu">
                        <li><a>Ethnic Wear</a></li>
                        <li><a>Formal Wear</a></li>
                        <li><a>Casual Wear</a></li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Appliances & Electronics</a>
            <ul class="dropdown-menu multi-level">
                <li><a href="#">Televisions</a></li>
                <li><a href="#">Phones</a></li>
                <li><a href="#">Refrigerators</a></li>
                <li><a href="#">Washing Machines</a></li>
                <li><a href="#">Cameras</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kids</a>
            <ul class="dropdown-menu multi-level">
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Toys</a></li>
                <li><a href="#">Baby Care</a></li>
                <li><a href="#">Baby Gear</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personal</a>
            <ul class="dropdown-menu multi-level">
                <li><a href="#">Skin Care</a></li>
                <li><a href="#">Make Up </a></li>
                <li><a href="#">Grooming Accessories</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Experiences</a>
            <ul class="dropdown-menu multi-level">
                <li><a href="#">Beauty</a></li>
                <li><a href="#">Spa</a></li>
                <li><a href="#">Holidays</a></li>
            </ul>
        </li>
         <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Books</a>
            <ul class="dropdown-menu multi-level">
                <li><a href="#">Literature</a></li>
                <li><a href="#">Fiction</a></li>
                <li><a href="#">Selfhelp</a></li>
            </ul>
        </li>
         <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sports</a>
            <ul class="dropdown-menu multi-level">
                <li><a href="#">Games</a></li>
                <li><a href="#">Fitness</a></li>
                <li><a href="#">Playstations</a></li>
            </ul>
        </li>

    </div>


</nav>
