<!--Sidebar Cart Area Start-->
<div class="sidebar-cart-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 hidden-xs">
                <div class="search-form">
                    <form id="search-form" action="search">
                        <div class="categories">
                            <div class="box-search-select">
                                <select class="selects" name="category">
                                    <option value="all">All Categories</option>
                                    <option ng-repeat="category in nav.parentCategories" value="{{category.slug}}">{{category.name | limitTo:15}}</option>
                                </select>
                            </div>
                        </div>
                        <input type="search" name="term" required/>
                        <button type="submit"><i class="fa fa-search"></i>Search</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
            
                <div class="header-right-menu">
                    <ul class="header-r-cart">
                        <li><a class="cart" ui-sref="cart"><i class="fa fa-shopping-cart"></i>Cart : ₹{{ ngCart.totalCost() | number:2}}<span>{{ ngCart.getTotalItems() }}</span></a>
                            <div class="mini-cart-content">
                                <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
                                    Your cart is empty
                                </div>
                                <div ng-show="ngCart.getTotalItems() > 0">
                                    <div class="mini-top-sec" ng-repeat="item in ngCart.getCart().items track by $index">
                                        <div class="cart-image">
                                            <a ui-sref="product({id: item.getId()})"><img alt="" src="{{item.getData().imageUrl}}"></a>
                                        </div>
                                        <div class="cart-info">
                                            <a ui-sref="product({id: item.getId()})"><h4>{{ item.getName() }}</h4></a>
                                            <h5>₹{{ item.getPrice() | number:2}}</h5><span class="quantity"><i class="fa fa-times"></i>&nbsp;&nbsp;{{ item.getQuantity() | number }}&nbsp;&nbsp;</span>
                                        </div>
                                        <div class="product-cancel"><a href="#" ng-click="ngCart.removeItemById(item.getId())"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                    <div class="mini-bottom-sec">
                                        <p class="total-amount">Tax: <span>₹{{ ngCart.getTax() | number:2}}</span></p>
                                        <!-- <p class="total-amount">Shipping: <span>₹{{ ngCart.getShipping()}}</span></p> -->
                                        <p class="total-amount">Total: <span>₹{{ ngCart.totalCost() | number:2}}</span></p>
                                        <div class="button"><a ui-sref="checkout">CHECKOUT</a></div>
                                        <div class="button"><a ui-sref="cart">View Cart</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Sidebar Cart Area-->
<!-- Mobile Menu Area start -->
