<!--Header Top Area Start-->
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <ul class="header-left-top header-menu">
          <li><a ng-click="createRegistry($event)">Create Registry</a>
            |&nbsp;&nbsp;
            <a href="#">Find a Registry</a><span ng-if="isLoggedIn()">|&nbsp;&nbsp;
            <a href="#">My Registries</a></span>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="header-right-top top-area">
          <!-- 
           <div class="col-md-8 col-md-offset-2">
            <form action="search" class="search-form">
              <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="search" name="term" class="form-control" >
                <button type="submit"><span class="glyphicon glyphicon-search form-control-feedback"></span></button>
              </div>
            </form>
          </div> -->
          <div class="header-contact-info"><a ui-sref="cart"><span class="fa fa-search"></span></a></div>

          <div class="header-contact-info">

            <ul class="header-left-top header-menu" ng-hide="isLoggedIn()">
              <li>
               <a ng-click="login($event)" style="cursor: pointer !important;">
                 <i class="fa fa-user"></i></a></li>
               </ul>
               <ul class="header-left-top header-menu" ng-if="isLoggedIn()">
                <li>
                  <a href="#">
                   <span ng-show="isLoggedIn()"><i class="fa fa-user"></i></span>
                 </a>
                 <ul class="header-dropdown">                                    <li ng-show="isLoggedIn() && !isAdmin()" ui-sref="orders"><a><span class="glyphicon glyphicon-tasks"></span> My Orders</a></li>

                   <li ng-show="isLoggedIn() && isAdmin()" ui-sref-active="active"><a ui-sref="orders"><span class="glyphicon glyphicon-tasks"></span>Admin Console</a></li>

                   <li ng-show="isLoggedIn()"><a ui-sref="logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                 </ul>
               </li>
             </ul>
           </div> 
           <div class="header-contact-info"><a ui-sref="cart"><span class="fa fa-shopping-cart"></span></a></div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <style type="text/css">
  .top-area {
    padding: 0px 0px !important;
  }
</style>
<!--End of Header Top Area-->
