<!--Header Top Area Start-->
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <ul class="header-left-top header-menu">
          <li><a ng-click="createRegistry($event)">Create Registry</a>
            |&nbsp;&nbsp;
            <a href="#">Find a Registry</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="header-right-top top-area">

         <div class="header-contact-info">
          <ul class="header-left-top header-menu" ng-hide="isLoggedIn()">
            <li>
             <a ng-click="login($event)" style="cursor: pointer !important;">
              <i class="fa fa-user"></i> <span >Log in</span> </a></li>
            </ul>
            <ul class="header-left-top header-menu" ng-if="isLoggedIn()">
              <li>

                <a href="#">


                 <span ng-show="isLoggedIn()">Hello {{ getCurrentUser().name }} </span>
                 <!-- <i class="fa fa-angle-down"></i> -->
               </a>
               <ul class="header-dropdown">                                    <li ng-show="isLoggedIn()" ui-sref-active="active"><a ui-sref="orders"><span class="glyphicon glyphicon-tasks"></span> My Orders</a></li>
                <li ng-show="isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Change password </a></li>
                <li ng-show="isLoggedIn()"><a ui-sref="logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
              </ul>
            </li>
          </ul>


        </div> 
        <div class="header-contact-info"><a ui-sref="cart"><span class="fa fa-shopping-cart"></span></a></div>
      </div>
    </div>
  </div>
</div>
</div>
<style type="text/css">
  .top-area {
    padding: 0px 0px !important;
  }
</style>
<!--End of Header Top Area-->
