<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
  <h3 class="list-title text-center">Select your  Occasion</h3>
  
</div>
<div class="modal-body">
  
    <div class="row">
      <div class="cover-card col-sm-6" style="background: url(/assets/img/wedding.jpg) no-repeat center top;background-size:cover;" ng-click="ok('wedding')" >
          <a >
            Wedding Registry
          </a>
      </div>
      <div class="cover-card col-sm-6" style="background: url(/assets/img/birthday.jpg) no-repeat center top;background-size:cover;" ng-click="ok('birthday')">
          <a >
            Birthday Registry
          </a>
      </div>
    </div>
    <div class="row">
      <div class="cover-card col-sm-6" style="background: url(/assets/img/baby.jpg) no-repeat center top;background-size:cover;" ng-click="ok('baby')">
          <a >
            Baby Registry
          </a>
      </div>
      <div class="cover-card col-sm-6" style="background: url(/assets/img/wishlist.jpg) no-repeat center top;background-size:cover;" ng-click="ok('wishlist')">
          <a >
            Wishlist Registry
          </a>
      </div>
    </div>

  

</div>
