<navbar></navbar>


<section class="cart-main-area">
    <div class="container">
        <div class="category-title-header">
            <div class="title-center">
                <div class="title"><h1>Shopping Cart</h1></div>
                <div class="separator-title"><div class="divider-line"></div></div>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 cart-details">
               <!--  <div class="s-title">
                    <h1>My Cart({{ ngCart.getCart().items.length }})</h1>
                </div> -->
                <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
                    Your cart is empty
                </div>

                
                <div class="cart-table table-responsive" ng-show="ngCart.getTotalItems() > 0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="p-image">Image</th>
                                <th class="p-name">Product Name</th>
                                <th class="p-amount">Unit Price</th>
                                <th class="p-amount">GST</th>
                                <th class="p-amount">subtotal</th>
                                <th class="p-times">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ngCart.getCart().items track by $index">
                                <td class="p-image">
                                    <a ui-sref="product({id: item.getData().slug})"><img alt="" width="100" src="{{item.getData().imageUrl}}"></a>
                                    <div>

                                        <span class="fa fa-minus-circle" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp; {{ item.getQuantity() | number }}&nbsp;&nbsp;
                                        <span class="fa fa-plus-circle" ng-click="item.setQuantity(1, true)"></span>
                                    </div>
                                </td>
                                <td class="p-name"><a ui-sref="product({id: item.getData().slug})">{{ item.getName() }}</a></td>
                               <!--  <td class="p-amount"><span class="amount">₹{{ item.getPrice() | number:2}}</span></td>
                                <td class="p-quantity"><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp; {{ item.getQuantity() | number }}&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span>
                                </td> -->
                                <td class="p-amount"><span class="amount">₹{{ item.getPrice() | number:2}}</span></td>
                                
                                <!--  <td class="p-total">₹{{ ((item.getData().cgst - 0)* (item.getQuantity() -0) *(item.getTotal() -0 ))/100}}</td> -->
                                <td class="p-total">₹{{item.getGst()}}</td>
                                <td class="p-total">₹{{ item.getTotal() | number:2}}</td>

                                <td class="p-action"><a href="#" ng-click="removeProduct($event,item.getName(), item)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="all-cart-buttons">
                        <a href="#" ng-click="addVoucher($event)">Clear Cart </a> 
                        <div class="float-right">
                         <a ui-sref="main">Continue Shopping</a>
                     </div>
                 </div> 
             </div>
         </div>


         <div class="col-md-4" ng-show="ngCart.getTotalItems() > 0">
            <div class="amount-totals">
                <p class="title text-center"><span>Price Details</span></p>
                <md-divider></md-divider>
                <p class="total">Subtotal: <span>₹{{ ngCart.getSubTotal() | number:2}}</span></p>
                <p class="total">Total Tax: <span>₹{{ ngCart.getTotalTax() | number:2}}</span></p>
                <p class="total">Delivery Charges: <span>₹{{ ngCart.getShipping() | number:2}}</span></p>
                <md-divider></md-divider>
                <p class="total">Grandtotal: <span>₹{{ ngCart.totalCost() | number:2}}</span></p>
                <button ng-click="checkout($event)"  class="btn btn-primary btn-md pull-right">PROCEED TO CHECKOUT</button> 

            </div>
        </div>



       <!--  <div class="col-md-4 col-md-offset-8">

            <div class="amount-totals">
                <p class="title text-center"><span>Price Details</span></p>
                <md-divider></md-divider>
                <p class="total">Subtotal: <span>₹{{ ngCart.getSubTotal() | number:2}}</span></p>
                <p class="total">Delivery Charges: <span>₹{{ ngCart.getShipping() | number:2}}</span></p>
                <md-divider></md-divider>
                <p class="total">Grandtotal: <span>₹{{ ngCart.totalCost() | number:2}}</span></p>
                <button ng-click="checkout($event)"  class="btn btn-primary btn-md pull-right">PROCEED TO CHECKOUT</button> 

            </div>
        </div> -->
    </div>
</div>
</section>
<!--End of Cart Main Area-->
<footer></footer>
