  <!-- Modal Content: begins -->
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header no-borders">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="cancel()">&times;</span></button>
      <h4 class="modal-title" id="gridSystemModalLabel"></h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">

      <div class="cart-header clearfix" >
        <h3 class="pull-left">Your Cart</h3>
        <button class="btn btn-primary pull-right" ng-click="continueShop()">Continue Shopping</button>
      </div>


      <div class="row cart-items-header text-center" ng-if = "items.length == 0">
        <h3 class="text-center">Your Bag is Empty</h3>
        <button class="btn btn-primary text-center" ng-click="continueShop()">Continue Shopping</button>
      </div>

      <div class="row cart-items-header" ng-if = "items.length > 0" >
        <div class="col-sm-5">Item</div>
        <div class="col-sm-2">Unit Price</div>
        <div class="col-sm-2 text-center">Quantity</div>
        <div class="col-sm-1">GST</div>
        <div class="col-sm-2">Subtotal</div>
      </div>
      <div class="cart-item" ng-repeat="item in items track by $index" ng-if = "items.length > 0">
        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <a><img class="img-responsive" ng-src="{{item.products.coverimage}}" ></a>
          </div>

          <div class="col-xs-8 col-xs-no-gutter-left col-sm-3">
            <div class="shop-entity-details">
              <a class="entity-name" >{{item.products.title}}</a>
              <div class="cart-item-attributes">
                <div class="value-label" ><strong>Availability:</strong> {{item.products.stock}}</div>
                <div class="value-label" ng-repeat = "f in item.features"><strong>{{f.feature}}:</strong> {{f.value}}</div>
              </div>
            </div>

          </div>

          <div class="hidden-xs col-sm-2 shop-entity-details">
            <div class="price">
              ₹ {{item.products.price}}
            </div>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-xs-6 col-sm-2 cart-item-quantity text-center">
            <div class="form-group-inline">
              <label class="control-label visible-xs-inline-block">Quantity:</label>
              <div class="row">
                <span class="fa fa-plus" ng-if="item.quantity < item.products.stock" ng-click = "changeQuantity(item.quantity+1 ,item.products._id , item.products.price , item.products.gst)"></span>
                <input class="input-narrow ng-pristine ng-valid ng-valid-min ng-valid-max " ng-valid-required ng-touched" type="number" ng-disabled = true  ng-model= "item.quantity" required="" min="1" max="100" step="1"  style="width: 30px!important;">
                <span class="fa fa-minus" ng-if="item.quantity > 1" ng-click = "changeQuantity(item.quantity-1 , item.products._id, item.products.price , item.products.gst)"></span>
                <br>
                <a role="button" class="small text-secondary cursorpointer" ng-click="removeItem(item.products._id , item.quantity)">Remove</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-1 cart-item-subtotal">
            <strong class="price">{{item.products.gst}} %</strong>
          </div>
          <div class="col-xs-6 col-sm-2 cart-item-subtotal">
            <strong class="price">₹ {{item.subtotal}}</strong>
          </div>

        </div>
      </div>

      <hr>

      <div class="row" ng-if = "items.length > 0">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <div class="pull-right">
           <span>Subtotal :</span> <strong class="price">₹ {{subtotal}}</strong>
         </div>
       </div>
     </div>

   <!--    <div class="cart-totals" ng-if = "items.length > 0" >
        <label>Subtotal:</label> <strong class="price">₹ {{subtotal}}</strong><br>

      </div> -->
      <div class="cart-footer clearfix" ng-if = "items.length > 0">
        <button class="btn btn-primary pull-left" ng-click="clearCart()">Clear Cart</button>
        <button class="btn btn-primary pull-right" ng-click="checkout()">Checkout Now</button><!-- end ngIf: zoCart.nonEmpty -->
      </div>
      <div>

      </div>
      <!-- Modal Content: ends -->

