<navbar></navbar>
<section class="event-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="form-container">                  
          <div class="page-header text-center">
            <div id="status-buttons" class="text-center">
              <div class="col-md-4 col-sm-2">
                <md-button class="md-fab md-primary" ng-click="registryType('registryType')" aria-label="Registry Type">  1</md-button>
                <div>Shipping Address</div>
              </div>
              <div class="col-md-4 col-sm-2">
                <md-button class="md-fab md-primary" ng-click="registryType('eventDetails')" ng-disabled = "disableorder" aria-label="Event Details">  2</md-button>
                <div>Order Review</div>
              </div>
              <div class="col-md-4 col-sm-2">
                <md-button class="md-fab md-primary" ng-click="registryType('location')" ng-disabled = "disablepayment"  aria-label="location">  3</md-button>
                <div>Payment Options</div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="form-views" ui-view></div>        
      </div>
    </div>
  </div>
</div>
</section>
