<navbar></navbar>
<!--Breadcrumbs Start-->
<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <ul class="breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
          <li class="active">search-result</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="uimax-block-section-26 pdt-80 pdb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="uimax-sidebar">
          <div class="product-filter">
            <div class="block size-filter">
              <div class="title">size</div>
              <div class="select-group">
                <select name="size" id="" class="form-control">
                  <option value="S">XS</option>
                  <option value="S">S</option>
                  <option value="S">M</option>
                  <option value="S">L</option>
                  <option value="S">XL</option>
                  <option value="S">XXL</option>
                </select>
              </div>
            </div>
            <div class="block price-filter">
              <div class="title">Price</div>
              <rzslider
              rz-slider-floor="priceSlider.floor"
              rz-slider-ceil="priceSlider.ceil"
              rz-slider-model="priceSlider.min"
              rz-slider-high="priceSlider.max"
              rz-slider-on-end="test()"></rzslider>

              <strong>{{priceSlider.min}}</strong> &nbsp;-&nbsp; $<strong>{{priceSlider.max}}</strong>
            </div>
      <!--       <div class="block brands">
              <div class="title">Brands</div>
              <div class="list-brands">
                <div class="checkbox checkbox-primary">
                  <input id="checkbox1" type="checkbox" class="styled">
                  <label for="checkbox1">ASOS</label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input id="checkbox2" type="checkbox" class="styled">
                  <label for="checkbox2">Versace</label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input id="checkbox3" type="checkbox" class="styled">
                  <label for="checkbox3">Zara</label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input id="checkbox4" type="checkbox" class="styled">
                  <label for="checkbox4">Topshop</label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input id="checkbox5" type="checkbox" class="styled">
                  <label for="checkbox5">George at Asda</label>
                </div>
              </div>
            </div> -->
            <div class="block color-filter">
              <div class="title">Color</div>
              <div class="color-list">
                <a href="javascript:void(0)" class="color active" style="background-color:#C51162"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#1565C0"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#FFCA28"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#000000"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#4DB6AC"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#E57373"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#BCAAA4"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#78909C"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#9CCC65"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#1A237E"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#FFEB3B"></a>
                <a href="javascript:void(0)" class="color" style="background-color:#FF7043"></a>
              </div>
            </div>
            <!-- <div class="block price-range">
              <div class="title">Price</div>
              <rzslider rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue" rz-slider-options="minRangeSlider.options"></rzslider>
              
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="product-list" >
          <div class="col-md-4 col-sm-12 col-xs-12 item" ng-repeat="product in products">
            <div class="product-item">
              <div class="pic-wrapper">
                <a ui-sref="product({id: product.slug})" class="inner">
                  <img ng-src="{{product.imageUrl}}" alt="" class="pic" />
                </a>
                <a  ng-if = "product.affiliate" ui-sref="product({id: product.slug})" class="inner">
                  <img ng-src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN={{product.prodcode}}&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=sathviprasi-21" class="pic" alt="{{product.name}}" data-err-src="images/product.jpg" />
                </a>
              </div>
              <div class="product-desc">
                <h2 class="name"><a ui-sref="product({id: product.slug})" >{{product.title}}</a></h2>
                <div class="price">₹{{product.price}}</div>
              </div>
              <span class="sale">sale</span>
            </div>
          </div>          
        </div>
        <md-button class="md-raised md-accent pull-left" ng-show="page>0" ng-click="previousPage()">< Previous</md-button>
        <md-button class="md-raised md-accent pull-right" ng-click="nextPage()">Next ></md-button>
      </div>
      
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<footer></footer>
